

.button {
	-fx-background-radius:0.0px; 
	-fx-background-color: #282828; /* gray */
	-fx-text-fill: #fff
}

.button.zoom-control {
    -fx-effect: dropshadow(three-pass-box, #282828, 8, 0, 0, 3);
}

.button.highlight {
	-fx-background-color:  #139389;
}
.button.highlight:hover {
	-fx-background-color: #26a6bd;
}

.button.highlight:pressed {
	-fx-background-color: #01233f;
}
.button:hover {
	-fx-background-color: #4f4f4f; /* gray */
}
.button:pressed {
	-fx-background-color: #383838; /* dark gray */
}

#helpButton {
	-fx-border-radius: 50.0% ;
	-fx-background-radius: 50.0%;
	-fx-background-color: transparent;
	-fx-border-color: #f80601;
	-fx-border-width: 6;
	-fx-text-fill: #f80601;
}

#helpButton:hover {
	-fx-background-color: #f80601;
	-fx-text-fill: #fff;
}

#helpButton:pressed {
	-fx-background-color: #850000;
	-fx-border-color: #850000;
}

#recordButton {
	-fx-background-color: #cecece;
	-fx-text-fill: #2f2f2f;
}

#recordButton:hover {
	-fx-background-color: #2f2f2f;
	-fx-text-fill: #cecece;
}

#recordButton:pressed {
	-fx-background-color: #242424;
}

#levelChoice {
	-fx-background-color: #f80601;
	-fx-mark-color: #fff ;
	-fx-font: 20px "Microsoft YaHei UI Bold";
	-fx-background-radius: 0.0;
	
}

#levelChoice .menu-item:focused {
	-fx-background-color: #850000 ; /* for example */
}


#levelChoice .context-menu {
	-fx-background-color: #f80601;
}
#levelChoice .label {
	-fx-text-fill: #fff;

}

#levelChoice:hover {
	-fx-background-color: #850000;
}

#levelChoice:pressed {
	-fx-background-color: #850000;
}

#levelChoice .context-menu {
    -fx-max-height: 400px;
}
#helpScroll > .viewport {
   -fx-background-color: transparent;
}

#helpScroll {
	-fx-background-color: red;
}

#playbackButton {
	-fx-background-radius:0.0px; 
	-fx-background-color: transparent; /* red */
	-fx-border-color: #6b6b6b;
	-fx-border-radius: 5px;
	-fx-background-radius: 7px;
	-fx-border-width: 6;
	-fx-text-fill: #6b6b6b;
}

#playbackButton:hover {
	-fx-background-color: #6b6b6b; /* gray */
	-fx-text-fill: #fff;

}
#playbackButton:pressed {
	-fx-background-color: #525252; /* dark gray */
	-fx-border-color: #525252; /* dark gray */
}


.progress-bar .bar {
	-fx-background-color: rgba(249, 5, 1, 0.65);
	-fx-padding: 20px; 
}

.progress-bar .track {
	-fx-background-color: white;
}

#markTextPane {
	-fx-background-color: rgba(0, 0, 0, 0.5); /* Change this to affect fading affect of the number in */
}

#seperator {
	-fx-background-color: #e79423;
    -fx-background-radius: 2;
}

#subButton {
	-fx-background-color: #3b3b3b;
	-fx-text-fill: white;
}
#subButton:hover {
	-fx-background-color: #cecece;
	-fx-text-fill: black;
}

#subButton:pressed {
	-fx-background-color: white;
}



.table-view:focused {
	-fx-focus-color: white;
}

.table-view .arrow {
	-fx-background-color: white;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#000 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font: 16px "Microsoft YaHei UI Bold";
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #242424;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0; /* 0 */
    -fx-font: 13px "Microsoft YaHei UI";
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242; 
}

.table-row-cell:selected {
    -fx-background-color: #cecece;
    -fx-focus-color: white;
}

.table-row-cell:selected .text {
       -fx-fill: #141414;
}

.table-row-cell .text {
       -fx-fill: white;
}


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background {
    -fx-background-color: #616161;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb {
	-fx-background-color: #242424;
}






/* Hide HBar of table view */

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}



.axis {
	-fx-tick-label-fill : white;
}

.chart-title {
  -fx-text-fill: white;
  	-fx-font: 20px "Microsoft YaHei UI Light";
}

.combo-box {
	-fx-font: 20px "Microsoft YaHei UI Light";
}
  
